In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [3]:
from sqlalchemy import create_engine

In [13]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
# print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

In [5]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=75000)

In [14]:
# Create the header row
df = pd.read_csv('green_tripdata_2019-09.csv', nrows=1)
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [15]:
from time import time

In [16]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 8.433 second
inserted another chunk, took 8.025 second
inserted another chunk, took 7.984 second
inserted another chunk, took 8.233 second
inserted another chunk, took 8.054 second

/tmp/ipykernel_4336/1406748514.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 7.033 second

StopIteration:

# Load the zone lookup table

In [ ]:
# !wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

In [17]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [18]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [19]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265